<div class="container">
  <div class="wrapper col-md-6 col-md-offset-3 col-sm-10">
    <h3>マイページ for <%= resource_name.to_s.humanize %></h3>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_messages! %>

      <div class="field for_form">
        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "メールアドレス" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field for_form">
        <%= f.text_field :name, class: "form-control", placeholder: "名前" %>
      </div>

      <div class="field for_form">
        <%= f.label :password %><i>(変更しない場合は空白にして下さい)</i><br />
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> 文字以上で入力して下さい</em>
        <% end %><br/>
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "パスワード" %>
      </div>

      <div class="field for_form">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "パスワード(確認)" %>
      </div>

      <div class="field for_form">
        <%= f.label :current_password %> <i>(パスワードを変更する場合は、現在のパスワードを入力して下さい)</i><br />
        <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "パスワード" %>
      </div>

      <div class="actions">
        <%= f.submit "更新", class: "btn btn-primary btn-block" %>
      </div>
    <% end %>

    <div>
      <h4>アカウントを削除しますか？</h4>
    </div>

    <p><%= button_to "削除する", registration_path(resource_name), data: { confirm: "本当に削除しますか?" }, method: :delete %></p>

    <%= link_to "戻る", :back %>
  </div>
</div>
