<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <section class="main-header">
      <p class="flash"><%= notice %><%= alert %></p>
    </section>
    <h1>Pictures</h1>

    <% @pictures.each do |picture| %>
      <div class = "row">
        <p class="prof_img"><%= profile_img(picture.user) if profile_img(picture.user) %></p>
        <p class="user_name"><%= picture.user.name %></p>
        <%= link_to "削除", picture_path(picture.id), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'index_btn btn btn-default btn-sm btn btn-danger' %>
        <%= link_to "編集", edit_picture_path(picture.id), class: 'index_btn btn btn-default btn-sm btn-success' %>

        <div class="clear">
          <%= picture.image %></br>
          <%= picture.content %>
        </div>
      </div>
    <% end %>
  </div>
</div>