<div class="container">
  <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
    <h3>写真を共有する</h3>

    <%= form_for(@picture) do |f| %>
      <% if @picture.errors.any? %>
        <div id="error_explanation">
          <h2><%= @picture.errors.count %>件のエラーがあります。</h2>
          <ul>
          <% @picture.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.label      :image %>
      <%= f.text_field :image %>
      <br>
      <%= f.label      :content %>
      <%= f.text_field :content %>
      <br>
      <%= f.submit '共有' %>
    <% end %>

    <%= link_to "一覧に戻る", root_path %>
  </div>
</div>